.paper{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.reservado{
    color: #e57373;
}

.pedido{
    color: #ffeb3b;
}
body{
    zoom: 75%;
}


.header{
    color: black;
}

.formReservas{
    max-height: 50%;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.dateRangePicker{
    margin: 1%;
    padding: 1%;
    font-size: large;
}