.paper{
    text-align: center;
    margin: 50px;
}

.reservado{
    color: #e57373;
}

.pedido{
    color: #ffeb3b;
}

.mainDiv{
    align-items: center;
    align-self: center;
}

.header{
    color: black;
}