.separarboton{
    margin: 10px;
}
.imgpequeña{
    width: 50px; height: 50px;
    }

.colortext{
    color: white;
}
.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
.fondo {
    background-image: url("../Img/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
    background-attachment: fixed;
}
.wrapper {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    }
